*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
gfpgan/weights/detection_Resnet50_Final.pth filter=lfs diff=lfs merge=lfs -text
weights/GFPGANv1.4.pth filter=lfs diff=lfs merge=lfs -text
gfpgan/weights/parsing_parsenet.pth filter=lfs diff=lfs merge=lfs -text
weights/RealESRGAN_x4plus.pth filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
